{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}

    <div id="add_figure" class="container">
<div class="row pt-4">
    <div class="col-6">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.category) }}
        {{ form_row(form.files) }}

    </div>
   <div class="col-6">
       <ul class="videos" data-prototype="{{ form_row(form.videos.vars.prototype)|e('html_attr') }}">
           {% for video in form.videos %}
               <li>{{ form_row(video.link) }}</li>
           {% endfor %}
       </ul>
       <button type="button" class="add_item_link" data-collection-holder-class="videos">ajouter une vidéo</button>
   </div>
   </div>
    <input class="btn btn-primary" type="submit" value="Valider">
</div>

        {{ form_end(form) }}

{% endblock %}



{% block javascripts %}
    <script src="{{ asset('js/formCollection.js') }}"></script>
{% endblock %}
