{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}
    {{ form_start(form) }}
     {{ form_row(form.name) }}
    {{ form_row(form.content) }}
    {{ form_row(form.category) }}
    {{ form_row(form.files) }}

    <ul class="videos" data-prototype="{{ form_row(form.videos.vars.prototype)|e('html_attr') }}">
        {% for video in form.videos %}
            <li>{{ form_row(video.link) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="videos">champs supplémentaire</button>
    <input class="btn btn-primary" type="submit" value="Valider">
    {{ form_end(form) }}
{% endblock %}
