{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!{% endblock %}

{% block body %}
<h1>{{ figure.name }}</h1>
    <p>
        <img src="{{ asset('uploads/figures/'~figure.images.first.name) }}" alt="{{ figure.images.first.name }}">
    </p>
    <p>
        {% if app.user%}
            <a href="{{ path('app_edit_figure', {'id': figure.id}) }}" ><i class="fas fa-pencil-alt" ></i></a>
        {% endif %}

        {{ figure.content }}
    </p>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">

                    {% for image in figure.images %}
                    <div class="col-3"><img src="{{ asset('uploads/figures/'~image.name) }}" >                    </div>

                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
