{% extends 'base.html.twig' %}
{% block title %}page d'accueil{% endblock %}

{% block bottomHeader %}
    <div style="text-align: right">
        <a href="#ancreHeader"> <i class="fas fa-arrow-alt-circle-down fa-4x text-primary"></i></a>
    </div>
{% endblock %}

{% block body %}


    <section class="bg-light" id="portfolio">
        <div id="ancreHeader" class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-uppercase section-heading">Liste des figures</h2>
                </div>
            </div>
            <div class="row">
                {% for figure in figures %}
                    <div class="col-sm-12 col-md-12 col-lg-3 portfolio-item d-none">
                        <a class="portfolio-link " data-toggle="modal"
                           href="{{ path('app_show_figure', {'id': figure.id}) }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            {% if figure.images.first %}
                                <img class="img-fluid w-100" src="{{ asset('uploads/figures/'~figure.images.first.name) }}"
                                     alt="{{ figure.images.first.name }}">
                            {% endif %}
                        </a>
                        <div class="portfolio-caption">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="card-title">{{ figure.name }}</h5>
                                </div>
                                <div class="col-5">
                                    {% if app.user %}
                                        <a href="{{ path('app_edit_figure', {'id': figure.id}) }}#edit">
                                            <button type="button" class="fas fa-pencil-alt ">
                                            </button>
                                        </a>

                                        <button type="button" class="fas fa-trash js-button-delete-trick"
                                                data-href="{{ path('app_deleted_figure', {'id': figure.id}) }}">
                                        </button>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-6" style="text-align: right">
                <button type="button" class="js-add-more-figure">Voir plus</button>

            </div>
            <div class="  col-6 " style="text-align: right">
                <a href="#ancreHeader"> <i class="fas fa-arrow-alt-circle-up fa-4x text-primary"></i></a>

            </div>

        </div>
    </section>
    {# modale de suppréssion #}

    <div class="modal fade" id="delete_figure" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body">
                    Êtes vous sûre de vouloir supprimer ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">non</button>
                    <a class="btn btn-primary js-delete_figure_modal_link" href="#">oui</a>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('js/homepage.js') }}"></script>


{% endblock %}