{% extends 'base.html.twig' %}
   {% block title %}Hello world{% endblock %}


    {% block javascripts %}{% endblock %}

{% block body %}
<div class="row row-cols-2 row-cols-md-5">
    {% for figure in figures %}
        <div class="col mb-4">
            <div class="card img_home_page">
                <a href="{{ path('app_show',{ id:figure.id}) }}">
                    {% if figure.images.first %}
                        <img
                                src=" {{ asset('uploads/figures/'~figure.images.first.name) }}" class="card-img-top"
                                alt="{{ figure.images.first.name }}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ figure.name }}</h5>
                    <p class="card-text">{{ figure.content }}</p>
                    <p>{{ figure.category.name }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

