<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>

        <link rel="stylesheet" href="{{ asset('css/Videos-in-rows-2-and-3-videos-per-row.css') }}">
        <link rel="stylesheet" href="{{ asset('css/login.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/Article-Clean.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/Community-ChatComments.css') }}">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

        <link href="{{ asset('css/global_css.css') }}" rel="stylesheet"/>


    {% endblock %}

</head>
<body>
{% block nav %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container-fluid"><a class="navbar-brand" href="{{ path('app_homePage') }}#ancreHeader">Snowtricks</a>
            <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link active js-scroll-trigger" href="{{ path('app_homePage') }}#ancreHeader">Accueil</a>
                    </li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_add_figure') }}#add_figure">ajouter
                            une figure</a></li>

                    {% if app.user %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>

                    {% else %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_login') }}#loginStart">Connexion</a>
                        </li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('app_register') }}#add_account">Créer
                                un compte</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url({{ asset('uploads/figures/firstPicture.jpg') }});">
        <div class="container-fluid">
            <div class="intro-text">
                <div class="intro-heading text-uppercase">
                    <div class="site-heading">
                        <h1> Super site de snow</h1>
                    </div>
                </div>
            </div>
            {% block bottomHeader %}
            {% endblock %}
        </div>
    </header>

{% endblock nav %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


{% block body %}

{% endblock body %}

{% block footer %}
{% endblock footer %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<script src="{{ asset('js/script.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
